---
title: 板卡测试
keywords: Linux, Longan, H618, SBC, ARM, test
update:
  - date: 2023-12-08
    version: v1.0
    author: ztd
    content:
      - Release docs
---


