<!-- 修改后保存一下 include 这个文件的 html 模板就会渲染 -->

<div class="w-full flex flex-col justify-center items-center">
  <h2 class="text-2xl font-bold my-8 block_simple">
    {{_('全新 Maix 生态')}}
  </h2>

  <div class="cards">
    <!-- cards -->
    <div class="card" v-for="item in data_maixcam.cards">
      <img class="card_img" :src="item.img" />
      <h3 class="card_title" class="text-lg">{[item.title]}</h3>
      <div class="card_brief">{[item.brief]}</div>
      <div class="card_btns">
        <a
          v-for="btn in item.btns"
          :href="btn.link"
          :target="btn.new_tab ? '_blank' : '_self'"
          >{[btn.label]}</a
        >
      </div>
    </div>
    <!-- cards end -->
  </div>

  <h2 class="text-2xl font-bold my-8 block_simple">
    {{_('经典 Maix 视觉系列')}}
  </h2>
  <div class="cards">
    <!-- cards -->
    <div class="card" v-for="item in data_maix.cards">
      <img class="card_img" :src="item.img" />
      <h3 class="card_title" class="text-lg">{[item.title]}</h3>
      <div class="card_brief">{[item.brief]}</div>
      <div class="card_btns">
        <a
          v-for="btn in item.btns"
          :href="btn.link"
          :target="btn.new_tab ? '_blank' : '_self'"
          >{[btn.label]}</a
        >
      </div>
    </div>
    <!-- cards end -->
  </div>
  <h3 class="text-2xl font-bold my-8">{{_('Maix 系列产品参数对比')}}</h3>
  <div class="w-full my-8 overflow-auto px-2">
    <!-- a table to compare upper products' parameters -->
    <div class="table_wrapper">
    <table>
      <thead>
        <tr>
          <th>{{_('参数')}}</th>
          <th>MaixCAM</th>
          <th>Maix-I</th>
          <th>Maix-II</th>
          <th>Maix-III</th>
          <th>Maix-IV</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{_('处理器')}}</td>
          <td>SG2002: RISC-V@1GHz/ARM A53<br> + RISC-V@700MHz<br> + 8051@25~300MHz</td>
          <td>K210: {{_('双核')}} 64 {{_('位')}} RISC-V@400MHz</td>
          <td>V831: Cortex-A7@800MHz</td>
          <td>AX620A: Cortex-A7x4@1.0GHz</td>
          <td>AX650N: Cortex-A55x8@1.7GHz</td>
        </tr>
        <tr>
          <td>{{_('内存')}}</td>
          <td>256MB DDR3</td>
          <td>SIP 8MB SRAM</td>
          <td>SIP 64MB DDR2</td>
          <td>2GB LPDDR4X 3733MHz</td>
          <td>8GB</td>
        </tr>
        <tr>
          <td>NPU</td>
          <td>1Tops@INT8，{{_('支持常用')}} CNN {{_('模型')}}, {{_('支持')}} BF16</td>
          <td>0.25Tops@INT8，{{_('支持有限')}} CNN {{_('算子')}}</td>
          <td>0.2Tops@INT8，{{_('支持有限')}} CNN {{_('算子')}}</td>
          <td>3.6Tops@INT8，{{_('支持常用')}} CNN {{_('模型')}}</td>
          <td>
            10Tops@INT8，{{_('支持常用')}} CNN {{_('和')}} transformer
            {{_('模型')}}
          </td>
        </tr>
        <tr>
          <td>{{_('储存')}}</td>
          <td>SDNAND {{_('或者')}} TF {{_('卡')}}</td>
          <td>{{_('板载')}} 16MB Flash，{{_('支持')}} SPI TF {{_('卡')}}</td>
          <td>{{_('板载')}} Flash {{_('或者')}} TF {{_('卡')}}</td>
          <td>EMMC {{_('或者')}} TF {{_('卡')}}</td>
          <td>EMMC {{_('或者')}} TF {{_('卡')}}</td>
        </tr>
        <tr>
          <td>{{_('软件支持')}}</td>
          <td>MaixCDK, MaixPy</td>
          <td>CSDK, MaixPy</td>
          <td>CSDK, MaixPy3</td>
          <td>CSDK</td>
          <td>CSDK</td>
        </tr>
        <tr>
          <td>{{_('操作系统')}}</td>
          <td>Linux + RTOS</td>
          <td>RTOS</td>
          <td>Tina Linux</td>
          <td>Linux</td>
          <td>Linux</td>
        </tr>
        <tr>
          <td>{{_('典型外设')}}</td>
          <td>UART/I2C/SPI/PWM/GPIO/WDT/ADC</td>
          <td>UART/I2C/SPI/PWM/FPIOA/GPIO/FFT/I2S</td>
          <td>USB/UART/I2C/SPI/<br />PWM/GPIO/ADC</td>
          <td>USB/UART/I2C/SPI/<br />PWM/GPIO/ADC</td>
          <td>USB/UART/I2C/SPI/<br />PWM/GPIO/ADC</td>
        </tr>
        <tr>
          <td>
            <a href="https://maixhub.com" target="_blank">MaixHub</a>
          </td>
          <td>{{_('支持度')}}：{{_('优')}}</td>
          <td>{{_('支持度')}}：{{_('中')}}</td>
          <td>{{_('支持度')}}：{{_('良')}}</td>
          <td>{{_('支持度')}}：{{_('中')}}</td>
          <td>{{_('支持度')}}：{{_('无')}}</td>
        </tr>
        <tr>
          <td>IDE</td>
          <td>MaixVision</td>
          <td>MaixPy IDE</td>
          <td>MaixPy3 Jupyter IDE</td>
          <td>{{_('无')}}</td>
          <td>{{_('无')}}</td>
        </tr>
        <tr>
          <td>{{_('文档和易用性')}}</td>
          <td>⭐️⭐️⭐️⭐️⭐️</td>
          <td>⭐️⭐️⭐️⭐️</td>
          <td>⭐️⭐️⭐️</td>
          <td>⭐️⭐️</td>
          <td>⭐️⭐️</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

<script lang="ts">
  const data_maixcam = {
    cards: [
      {
        img: "/static/home/maixcam.jpg",
        title: "MaixCAM",
        brief:
          "{{_('RISC-V 1GHz + 1Tops NPU, 4M高清摄像头，多种尺寸高清电容触摸屏，完美支持全新 Maix 生态所有软件')}}",
        btns: [
          {
            label: "MaixCAM-Pro",
            link: "/hardware/zh/maixcam/maixcam_pro.html",
          },
          {
            label: "{{_('购买')}}",
            link: "{{_('https://sipeed.taobao.com')}}",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/maixpy.jpg",
        title: "MaixPy",
        brief:
          "{{_('Python 语法，简易 API，快速落地 AI 视觉、听觉应用')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "https://wiki.sipeed.com/maixpy/",
          },
          {
            label: "{{_('源码')}}",
            link: "https://github.com/sipeed/MaixPy",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/maixcdk.jpg",
        title: "MaixCDK",
        brief:
          "{{_('C++ SDK, MaixPy 同款 API，稳定高效易上手')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "https://wiki.sipeed.com/maixcdk/",
            new_tab: true,
          },
          {
            label: "{{_('源码')}}",
            link: "https://github.com/sipeed/MaixCDK",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/maixvision.jpg",
        title: "{{_('IDE 和云平台')}}",
        brief:
          "{{_('代码编辑运行、图像实时预览，在线一键 AI 模型训练')}}",
        btns: [
          {
            label: "MaixVision",
            link: "/maixvision",
          },
          {
            label: "MaixHub",
            link: "https://maixhub.com",
            new_tab: true,
          }
        ],
      },
    ],
  };

  const data_maix = {
    cards: [
      {
        img: "/static/home/maixbit.png",
        title: "Maix-I (K210)",
        brief:
          "{{_('带硬件 AI 加速的 MCU，配合易用的软件快速落地低成本 AI 应用')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/hardware/zh/maix/maixpy_develop_kit_board/maix_bit.html",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=586580351110",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/m2dock.png",
        title: "Maix-II (V831)",
        brief:
          "{{_('硬件 AI 加速 + Linux + 易用的软件，教育、工业视觉、智能家居场景绝配')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/m2dock",
          },
          {
            label: "{{_('MaixPy3')}}",
            link: "/maixpy3",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?spm=a230r.1.14.13.681570a1SllT5M&id=635874427363&ns=1&abbucket=16#detail",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/m3axpi.png",
        title: "Maix-III (AXeraPi)",
        brief:
          "{{_('3.6Tops AI ISP，微光夜视，大量常见 AI 模型支持，安防智能 IPC')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/m3axpi",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=682169792430",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/m4ndock.png",
        title: "Maix-IV (AXeraPi-Pro)",
        brief:
          "{{_('18Tops AI 算力，32 路 1080p 高清 AI 视频监控，AI 大模型支持')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/m4cdock",
          },
          {
            label: "{{_('购买')}}",
            link: "{{_('https://item.taobao.com/item.htm?id=744014549573')}}",
            new_tab: true,
          },
        ],
      },
    ],
  };
</script>
