<!-- 修改后保存一下 include 这个文件的 html 模板就会渲染 -->

<div class="w-full h-full flex flex-col justify-center items-center">
  <h2 class="text-2xl font-bold my-8 block_simple">{{_('SLogic 逻辑分析仪系列')}}</h2>
  <div class="w-full flex flex-col justify-center">
    <div class="cards">
      <!-- cards -->
      <div class="card" v-for="item in data_slogic.cards">
        <img class="card_img" :src="item.img" />
        <h3 class="card_title" class="text-lg">{[item.title]}</h3>
        <div class="card_brief">{[item.brief]}</div>
        <div class="card_btns">
          <a
            v-for="btn in item.btns"
            :href="btn.link"
            :target="btn.new_tab ? '_blank' : '_self'"
            >{[btn.label]}</a
          >
        </div>
      </div>
      <!-- cards end -->
    </div>
  </div>

</div>

<script lang="ts">
  const data_slogic = {
    cards: [
      {
        img: "/static/home/slogic_combo8.png",
        title: "SLogic",
        brief:
          "{{_('逻辑分析仪+CKLink+DAPLink+USB转串口 多合一指尖工具')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/slogic",
          },
          {
            label: "{{_('购买')}}",
            link: "{{_('https://item.taobao.com/item.htm?id=737788586308')}}",
            new_tab: true,
          },
        ],
      },
      {
        img: "/static/home/slogic16u3.jpg",
        title: "SLogic16U3",
        brief:
          "{{_('16通道高速USB3逻辑分析仪')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/slogic16u3",
          },
          {
            label: "{{_('购买')}}",
            link: "{{_('https://item.taobao.com/item.htm?id=737788586308')}}",
            new_tab: true,
          },
        ],
      }
    ],
  };
</script>