<!-- 修改后保存一下 include 这个文件的 html 模板（比如home.html）就会渲染 -->

<div class="w-full flex flex-col justify-center items-center">
  <h2 class="text-2xl font-bold my-8 block_simple">{{_('Tang FPGA 系列')}}</h2>
  <div class="w-full flex flex-col justify-center">
    <div class="cards">
      <!-- cards -->
      <div class="card" v-for="item in data_tang.cards">
        <div class="img_wrapper">
          <img class="card_img" :src="item.img" />
        </div>
        <h3 class="card_title" class="text-lg">{[item.title]}</h3>
        <div class="card_brief">{[item.brief]}</div>
        <div class="card_btns">
          <a
            v-for="btn in item.btns"
            :href="btn.link"
            :target="btn.new_tab ? '_blank' : '_self'"
            >{[btn.label]}</a
          >
        </div>
      </div>
      <!-- cards end -->
    </div>
    <div class="w-full flex flex-col justify-center items-center mt-10 mb-5">
      <!-- a table to compare upper products' parameters -->
      <h3 class="text-2xl font-bold my-8">{{_('Tang 系列板卡参数对比')}}</h3>
      <table>
        <thead>
          <tr>
            <th>{{_('参数')}}</th>
            <th>Mega 138K</th>
            <th>Primer 25K</th>
            <th>Primer 20K</th>
            <th>Nano 20K</th>
            <th>Nano 9K</th>
            <th>Nano 4K</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{_('芯片')}}</td>
            <td>GW5AST-138</td>
            <td>GW5A-25</td>
            <td>GW2A-18</td>
            <td>GW2AR-18</td>
            <td>GW1NR-9</td>
            <td>GW1NSR-4C</td>
          </tr>
          <tr>
            <td>{{_('查找表(LUT)')}}</td>
            <td>138240</td>
            <td>23040</td>
            <td>20736</td>
            <td>20736</td>
            <td>8640</td>
            <td>4608</td>
          </tr>
          <tr>
            <td>{{_('寄存器(FF)')}}</td>
            <td>138240</td>
            <td>23040</td>
            <td>15552</td>
            <td>15552</td>
            <td>6480</td>
            <td>4608</td>
          </tr>
          <tr>
            <td>SSRAM(Kbits)</td>
            <td>1080</td>
            <td>180</td>
            <td>41</td>
            <td>41</td>
            <td>17</td>
            <td></td>
          </tr>
          <tr>
            <td>BSRAM(Kbits)</td>
            <td>6120</td>
            <td>1008</td>
            <td>828</td>
            <td>828</td>
            <td>468</td>
            <td>180</td>
          </tr>
          <tr>
            <td nowrap="nowrap"> RAM </td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 4Gb DDR3 SDRAM * 2</td>
            <td nowrap="nowrap"></td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 1Gb DDR3 SDRAM</td>
            <td nowrap="nowrap">{{_('内含')}} 64Mb SDR SDRAM</td>
            <td nowrap="nowrap">{{_('内含')}} 64Mb PSRAM</td>
            <td nowrap="nowrap">{{_('内含')}} 64Mb HyperRAM</td>
          </tr>
          <tr>
            <td nowrap="nowrap">{{_('内嵌处理器')}}</td>
            <td nowrap="nowrap">RiscV AE350_SOC</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Cortex-M3</td>
          </tr>
          <tr>
            <td nowrap="nowrap">{{_('储存')}}</td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 32Mb Flash * 2</td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 32Mb Flash</td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 32Mb Flash</td>
            <td nowrap="nowrap">{{_('板载_fpga')}} 32Mb Flash</td>
            <td nowrap="nowrap">{{_('内含')}} 608Kb Flash<br>{{_('板载_fpga')}} 32Mb Flash</td>
            <td nowrap="nowrap">{{_('内含')}} 256Kb Flash<br>{{_('板载_fpga')}} 32Mb Flash</td>
          </tr>
          <tr>
            <td>{{_('其他特点')}}</td>
            <td nowrap="nowrap">{{_('内含 12.5G Transceivers')}}<br>{{_('支持 PCIE 通信')}}<br>{{_('支持 SFP+ 数据传输')}}</td>
            <td nowrap="nowrap"></td>
            <td nowrap="nowrap"></td>
            <td nowrap="nowrap"></td>
            <td nowrap="nowrap"></td>
            <td nowrap="nowrap"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script lang="ts">
  const data_tang = {
    cards: [
      {
        img: "/hardware/assets/Tang/mega_138k/mega_138k_top.png",
        title: "Tang Mega 138K Pro",
        brief: "{{_('可以高速通信的大容量 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/hardware/zh/tang/tang-mega-138k/mega-138k.html",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=740536508140",
            new_tab: true,
          }
        ],
      },
      {
        img: "/hardware/assets/Tang/primer_25k/25k_dock_top.jpg",
        title: "Tang Primer 25K",
        brief: "{{_('自由拓展的 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('敬请期待')}}",
          }
        ],
      },
      {
        img: "/hardware/zh/tang/tang-primer-20k/assets/dock-up.png",
        title: "Tang Primer 20K",
        brief: "{{_('自带多种外设接口的 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/hardware/zh/tang/tang-primer-20k/primer-20k.html",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=680099020807",
            new_tab: true,
          },
        ],
      },
      {
        img: "/hardware/assets/Tang/Nano_20K/Nano_20K.png",
        title: "Tang Nano 20K",
        brief: "{{_('适用于模拟复古游戏机的 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/nano20k",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=717932028073",
            new_tab: true,
          },
        ],
      },
      {
        img: "/hardware/assets/Tang/Nano-9K/9K.png",
        title: "Tang Nano 9K",
        brief: "{{_('适合 RiscV 软核验证的 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/hardware/zh/tang/Tang-Nano-9K/Nano-9K.html",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=666055424174",
            new_tab: true,
          },
        ],
      },
      {
        img: "/hardware/assets/Tang/Nano_4K/Nano_4K.png",
        title: "Tang Nano 4K",
        brief: "{{_('芯片内部含有 MCU 的 FPGA 开发板')}}",
        btns: [
          {
            label: "{{_('文档')}}",
            link: "/hardware/zh/tang/Tang-Nano-4K/Nano-4K.html",
          },
          {
            label: "{{_('购买')}}",
            link: "https://item.taobao.com/item.htm?id=661994055100",
            new_tab: true,
          },
        ],
      },
    ],
  };
</script>
