iframe {
    width: 43vw;
    height: 34vw;
    min-width: 90%;
}
#page_footer {
    margin-top: 0;
}
#wiki_home h1 {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
#wiki_home h3 {
    width: 100%;
    text-align: center;
}
#wiki_home #navbar {
    background: #d8edff;
    z-index: 98;
    box-shadow: 0px 0px 5px 0px #acc4d8;
}
#wiki_home #page_content > div {
    width: 100%;
    max-width: 100%;
}
#big_btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 5em 1em;
}
#wiki_home .big_btn a {
    padding: 2em;
    background-color: #f7f7f9;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
}
#wiki_home .big_btn a:hover {
    background-color: #f1f1f1;
}
.dark #wiki_home .big_btn a {
    background-color: #2d2d2d;
}
.dark #wiki_home .big_btn a:hover {
    background-color: #1f1f1f;
}
#sidebar .active > a, #navbar .active > a, #navbar .active_parent > a {
    background-color: #ff6b63;
    color: #ffffff;
}
#sidebar li > a:hover, #sidebar li.active_parent > a:hover, #navbar li > a:hover, #navbar .sub_items > a:hover {
    background-color: #ff6b63;
    color: #ffffff;
}
blockquote {
    border-left: 4px solid #ff6b63;
}
.title_pic {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.logo_maixpy {
    margin-bottom: 15px;
}
.logo_maixpy img {
    height: 200px;
}
.logo_sipeed img {
    height: 43px;
}
.logo_mpy img {
    height: 45px;
}
.limit_width {
    min-width: 65px;
    display: inline-block;
}
.grove_pic img{
    height: 500px;
}
.center_table {
    display: table;
}
th {
    background-color: #ff6b63;
    border: 2px solid #d8524b;
}
#navbar .site_logo {
    height: 2em;
}

#navbar h2 {
    padding-left: 2px;
}

#wiki_home body:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d8edff;
    background-size: 100% 100%;
    transition: 0.4s;
}

#wiki_home body::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 13em;
    left: 0;
    background: url(/static/image/bg2.png) center 0 no-repeat;
    background-size: cover;
}

#wiki_home #page_content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}
#wiki_home #page_content a {
    margin: 0.5em;
}
#wiki_home #page_content a:hover, #store a:hover {
    background-color: transparent;
}
#wiki_home #page_content a > img {
    padding: 0;
    border-radius: 10px;
}
#wiki_home #page_content a > img {
    box-shadow: 0px 0px 7px 1px #bbdfff;
}
#wiki_home #page_content a:hover > img {
    box-shadow: 8px 9px 15px 1px #81a1bf;
    transition: 0.4s;
}
#store a > img {
    height: 40px;
    transition:height 0.4s;
    -moz-transition:height 0.4s; /* Firefox 4 */
    -webkit-transition:height 0.4s; /* Safari and Chrome */
    -o-transition:height 0.4s; /* Opera */
}
#store a:hover > img {
    height: 50px;
}
#wiki_home h1 {
    margin-bottom: 2em;
}
#wiki_home #search {
    background-color: #6391ed;
}
#wiki_home #search .placeholder {
    color: #ffffff;
}
#wiki_home body.dark:before {
    background-color: transparent
}
#wiki_home .dark #page_content a > img {
    box-shadow: 0px 0px 10px 0px #000000;
}
#wiki_home .dark #page_content a:hover > img {
    box-shadow: 0px 0 15px 5px #ffffff;
}
#wiki_home .dark #navbar {
    background: #1b1b1b;
}

@media screen and (max-width: 900px) {
    #big_btn_wrapper {
        flex-direction: column;
    }
    #big_btn_wrapper > div {
        margin: 2em 0;
    }
    #footer_top > ul {
        margin: 0 0;
    }
    #wiki_home p {
        display: flex;
        flex-direction: column;
    }
    #wiki_home #page_content a:hover {
        background-color: transparent;
    }
    #navbar #navbar_items {
        display: none;
    }
}

