iframe {
    width: 43vw;
    height: 34vw;
    min-width: 90%;
}
#navbar h2 {
    display: none;
}

#home_page h1 {
    width: 100%;
    font-size: 6em;
    text-align: center;
    font-family: sans-serif;
}
#home_page h3 {
    width: 100%;
    text-align: center;
}
#big_btn_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 5em 1em;
}
#home_page .big_btn a {
    padding: 2em;
    background-color: #f7f7f9;
    font-size: 1.3em;
    border-radius: 10px;
    transition: 0.4s;
    display: flex;
}
#home_page .big_btn a:hover {
    background-color: #f1f1f1;
}
.dark #home_page .big_btn a {
    background-color: #2d2d2d;
}
.dark #home_page .big_btn a:hover {
    background-color: #1f1f1f;
}
#sidebar .active > a, #navbar .active > a {
    background-color: #ff6b63;
    color: #ffffff;
}
#sidebar li > a:hover, #sidebar li.active_parent > a:hover, #navbar li > a:hover, #navbar .sub_items > a:hover {
    background-color: #ff6b63;
    color: #ffffff;
}
blockquote {
    border-left: 4px solid #ff6b63;
}
.title_pic {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.logo_maixpy {
    margin-bottom: 15px;
}
.logo_maixpy img {
    height: 200px;
}
.logo_sipeed img {
    height: 43px;
}
.logo_mpy img {
    height: 45px;
}
.limit_width {
    min-width: 65px;
    display: inline-block;
}
.grove_pic img{
    height: 500px;
}
.center_table {
    display: table;
}
th {
    background-color: #ff6b63;
    border: 2px solid #d8524b;
}
#footer_top > ul {
    margin: 0 15em;
}

@media screen and (max-width: 900px) {
    #big_btn_wrapper {
        flex-direction: column;
    }
    #big_btn_wrapper > div {
        margin: 2em 0;
    }
    #footer_top > ul {
        margin: 0 0;
    }
}
