@font-face {
font-family: "HYg2gj";
src: url("/static/css/HYg2gj-subfont.ttf");
}
body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/static/image/bg.jpg') center center no-repeat;
    background-size: 100% 100%;
}

body::after {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/static/image/bg2.png') center 0 no-repeat;
    background-size: cover;
}
#cus_h1{
    font-size: 0;
    display: none;
}
.head {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}

.head h2 {
    position: relative;
    display: inline-block;
    padding-left: 58px;
}

.head h2 i {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 38px;
    cursor: pointer;
    height: 38px;
    background-image: url('/static/image/logo.svg');
    transform: translate(0, -50%);
}

.head p {
    font-family: ArialMT;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 3px;
    color: #1b1b1b;
    margin-bottom: 5%;
}

.main {
    margin: 0 auto;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0;
}

.thumbnail {
    background: none;
    margin-bottom: 10px;
    border: none;
}

.thumbnail img {
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.footer {
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

.footer i {
    background-image: url('/static/image/twiiter.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
}

.footer i:hover {
    background-position: top right;
}
.footer p{
    line-height: 35px;
}
.modal-body{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.modal-body ul{
    margin: 0 auto;
}
.Twitter-left{
    /* float: left; */
    /* padding-left: 100px; */
    font-size: 18px;
}
.Twitter-left li{
    position: relative;
    padding-left: 28px;
    padding-top: 5px;
}
.Twitter-left li i::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 20px;
    width: 20px;
    background-image: url('/static/image/common.png');
    background-position: 0px -52px;
    transform: translate(0,-50%);

}
.Twitter-left li:nth-child(2) i::after{
    background-position: 0px -80px;
}
.Twitter-left li:nth-child(3) i::after{
    background-position: 0px -108px;
    top: 20px;
}

.Twitter-left li:last-child{
    position: relative;
    left: 70px;
}

.qq-right{
    /* float: right;
    padding-right: 100px; */
    font-size: 18px;
    position: relative;
}
.qq-right li:first-child::after{
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 24px;
	height: 28px;
    background-image: url('/static/image/common.png');
    background-position: -43px -59px;
}
.modal-body li{
    font-family: 'HYg2gj';
    list-style: none;
    line-height: 30px;
}
.modal-body li span{
    color: #2a89e8;
}
.modal-content{
    padding: 80px 20px;
    position: relative;
}
.modal-dialog {
    position: relative;
}
#close{
    position: absolute;
    top: 20px;
    right: 20px;
}
#close span:hover{
    background-position: -99px 0px;
}
#close span{
    background-image: url('/static/image/common.png');
    background-position: -128px 0px;
    width: 22px;
    height: 22px;
    display: block;
}
#modal-box{
    margin: 0 auto;
    padding: 0 10px;
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (min-width: 768px){
    .modal-dialog {
        /* width: 800px; */
        margin: 0 auto;
        /* margin-top: 20%; */
    }
}
@media (max-width: 768px){
    .head p{
        font-size: 14px;
    }
    .head h1{
        font-size: 24px;
    }
    .modal-body ul{
        margin-top: 20px;
    }
    .qq-right,.Twitter-left{
        font-size: 14px;
    }
    .Twitter-left li:last-child{
        left: 55px;
    }
}
@media (max-width: 320px){
    .qq-right,.Twitter-left{
        padding-left: 10px;
        font-size: 12px;
    }
    .qq-right li:first-child::after{
        left: -15px;
    }
}