.gt-container .gt-btn {
  border: 1px solid #c62828;
  background-color: #c62828;
}

.gt-container .gt-btn-preview {
    color: #c62828;
}
.dark .gt-container .gt-btn-preview {
  color: white;
}

.gt-container .gt-header-controls-tip {
  color: #c62828;
}

.gt-container .gt-svg svg {
  fill: #c62828;
}

.gt-container a:hover {
  color: #e25d55;
  border-color: #e25d55;
}

.gt-container .gt-link {
  border-bottom: 1px dotted #c62828;
}

.gt-container a {
  color: #c62828;
}

.gt-container .gt-popup .gt-action.is--active::before {
  background: #c62828;
}

.gt-container .gt-btn-preview:hover {
  border-color: #e25d55;
  color: #c62828;
}

.gt-container .gt-user .is--poping .gt-ico svg {
  fill: #c62828;
}

.gt-container .gt-btn-public:hover {
  background-color: #e25d55;
  border-color: #e25d55;
}

.gt-container .gt-comment-username {
  color: #c62828;
}

.gt-container .gt-btn-preview {
  background-color: transparent;
}

.dark .gt-container .gt-comment-admin .gt-comment-content,
.dark .gt-container .gt-header-textarea {
  background-color: #2d2d2d;
  color: white;
}

.dark .gt-container .gt-comment-content:hover {
    -webkit-box-shadow: 0 0.625em 3.75em 0 #000000;
    box-shadow: 0 0.625em 3.75em 0 #000000;
}

