.navigation {
  top: 90px;
}
.book-summary nav.autoshow a,
.book-summary nav.autoshow a:hover {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 800px) {
  .book-summary nav.autoshow {
    display: none;
  }
}
.sipeed-navbar {
  overflow: visible;
  width: 100%;
  min-width: 600px;
  z-index: 2;
  font-size: 0.85em;
  color: #7e888b;
  background: #f5f5f5;
  display: flex;
  position: absolute;
  top: 0;
}
.sipeed-navbar::after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
} 
.sipeed-navbar a,
.sipeed-navbar a:hover {
  color: inherit;
  text-decoration: none;
}
.sipeed-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.sipeed-navbar ul li {
  margin-right: 1px;
  position: relative;
  float: left;
}
.sipeed-navbar ul li a:hover + .hovershow,
.sipeed-navbar ul li .hovershow:hover,
.sipeed-navbar ul li .hovershow li:hover {
  display: block;
}
.sipeed-navbar ul li img {
  margin-top: 3px;
}
.sipeed-navbar ul li ul {
  margin: -3px 0 0 0;
  background: #f5f5f5;
  display: none;
  width: 100%;
  z-index: 999;
  position: absolute;
}
.sipeed-navbar ul li ul li {
  display: block;
  float: none;
}
.sipeed-navbar ul li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
@media screen and (max-width: 800px) {
  .sipeed-navbar ul li {
    /*Make dropdown links appear inline*/
    /*Create vertical spacing*/
    /*Make all menu links full width*/
  }
  .sipeed-navbar ul li ul {
    position: static;
    display: none;
  }
  .sipeed-navbar ul li li {
    margin-bottom: 1px;
  }
  .sipeed-navbar ul li ul li,
  .sipeed-navbar ul li li a {
    width: 100%;
  }
}
.sipeed-navbar .btn {
  display: inline-block;
  height: 40px;
  padding: 0px 15px;
  border-bottom: none;
  color: #aaa;
  text-transform: none;
  line-height: 40px;
  position: relative;
  font-size: 14px;
}
.sipeed-navbar .btn:hover {
  position: relative;
  text-decoration: none;
  color: #444;
  background: none;
}
.sipeed-navbar .btn:focus {
  outline: none;
}
.sipeed-navbar:hover h1 {
  opacity: 1;
}
@media (max-width: 800px) {
  .sipeed-navbar {
    display: none;
  }
}
@media (min-width: 800px) {
  .page-wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .page-wrapper {
    /* min-width: 800px; */
    padding-top: 0;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .sipeed-navbar ul .version-link ul {
    margin-left: 20px;
  }
  .sipeed-navbar .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 1240px) {
  .book-body .body-inner {
      overflow: visible;
  }
}
.sipeed-navbar ul .version-link {
  float: left;
  z-index: 10;
  padding-right: 15px;
  /* text-align: right; */
  min-width: 180px;
}
.version-link ul li .btn {
  padding-right: 35px;
  padding-left: 0;
}
.version-link a span {
  padding: 0;
}
.book-header {
  margin-top: 40px;
}

.title_pic {
  padding-top: 30px;
  padding-bottom: 30px;
}

.markdown-section li code{
  color: #ec5d11;
}

#anchor-navigation-ex-navbar {
  top:100px;
}


